#footer{
		background-color: black;
		color: rgba(233,233,233,1);
		text-align: center;
}

.flt{
		font-size: 0.5rem;
		font-weight: 200;
		margin: 0.3rem;
}

.cpn{
		display: flex;
		flex:1;
		padding: 1rem;
		flex-direction: column;
		justify-content: center;
		align-items:center;
}
